AddDefaultCharset utf8
RewriteEngine On

RewriteBase /~user5/boardroombooker/
#RewriteBase /




RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !-l

RewriteRule !\.(js|jpeg|css|jpg|html|gif|png|ttf|ico|woff)$ index.php [PT]

#RewriteRule ^ru/(.*)$ /1?lang=ru [L,QSA]


