table.CalendarBody {
    font-family: Arial;
    /*border-collapse: collapse;*/
}

table.CalendarBody th {
    background: #ffffff;
    color: rgb(13, 13, 13);
    font-size: 12px;
    padding: 4px;
    border: 1px solid #d6d6d6;
    font-weight: bold;
    /*border-top: none;*/
}

table.CalendarBody tbody td {
    vertical-align: top;
    width: 140px;
    height: 140px;
    border: 1px solid #d6d6d6;
    background: #ffffff;
}

table.CalendarBody tbody td time {
    font-size: .9em;
    display: block;
    background: white;
    padding: 4px;
    text-align: left;
    font-weight: bold;
}

table.CalendarBody tbody td.CBsuffix, table.CalendarBody tbody td.CBprefix {
    background: #F7F7F7;
}

table.CalendarBody tbody td div.event {
    /*color: #cb6954;*/
    font-size: 12px;
    padding: 5px;
    line-height: 1em;
    border-bottom: 1px solid #c3d0e9;
    background: #d8e6f9;
}

table.CalendarBody tbody td.today {
    background: #eaf5f5;
}
table.CalendarBody tbody td div.event a{
    color: #100f1e;
    text-decoration: none;
}

   .navbar-static-top {
        margin-bottom: 20px;
    }

    i {
        font-size: 18px;
    }

    footer {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #efefef;
    }

    .nav > li .count {
        position: absolute;
        top: 10%;
        right: 25%;
        font-size: 10px;
        font-weight: normal;
        background: rgba(41, 200, 41, 0.75);
        color: rgb(255, 255, 255);
        line-height: 1em;
        padding: 2px 4px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
    }
