		/*CSS*/

html {
	overflow-y: scroll;
}

Body, html {
	margin:0;
	padding:0;
	height:100%;
	word-wrap: break-word;
}

body {
background-color:#D3CBCB;
font:14px/19px Tahoma, sans-serif;
color:#333;

}

h1,h2,h3,h4,h5,h6,p,a,div,span,ul,li,body,ol{
	margin:0;
	padding:0;
}
img {
	border:none;
	margin:0;
	padding:0;
}
h1 {
font:bold 18px Tahoma, sans-serif;
text-align:left;
padding-bottom:15px;
color:#0152E0;
}

h2 {
font: bold 16px Tahoma, sans-serif;
text-align:left;
padding-bottom:15px;
color:#666;
}

p {
margin-bottom:10px;
}
a {
	outline:none;
	text-decoration:underline;
	color:#0152E0;
}

a:hover {
text-decoration:none;
}
		/* PAGE */
#page{
width:980px;
margin:0 auto;
background:#ffffff;
/*background: none repeat scroll 0 0 rgba(39, 39, 39, 0.06);*/
box-shadow: 1px 9px 9px 0 #333333;
-webkit-box-shadow: 1px 9px 9px 0 #333333;
-moz-box-shadow: 1px 9px 9px 0 #333333;
-o-box-shadow: 1px 9px 9px 0 #333333;
overflow:hidden;
position:relative;
min-height:500px;
filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#333333, strength=9);

padding:10px;
top:20px;
margin-bottom:35px;

}


		/* HEADER */
#header {
height:150px;
background:  #0152E0;
width:100%;
display:block;

}

#header h1 {
font:50px Tahoma, sans-serif;
color:#FFFFFF;
text-align:center;
width:auto;
padding-top:20px;
text-shadow: 3px 1px 2px #0152E0, 5px 3px 6px #000000;
}

/* LOGO */
#logo {

}

		/*  MENU  */
#menu {
margin:0;
padding:0;
display: block;
position: relative;
overflow:hidden;
margin:10px 0;
background-color:#D3CBCB;

}


#menu ul {
display:block;
overflow:hidden;
position:relative;
margin:0;
padding:0;
list-style:none;

}

#menu li {
position:relative;
display: block;
float:left;
}

#menu li  a{
display:block;
text-decoration: none;
text-align:center;
white-space:nowrap;
height:30px;
font:20px/30px Tahoma, sans-serif;
min-width:165px;
padding:0 10px;
margin:0 10px 0 0;
border-left:1px solid #fff;
color:#FFFFFF;
}

#menu li.cm_current {
}

#menu li.cm_current a {
color:#0152E0;
}

#menu li:hover{
}

#menu li:hover a {
color:#0152E0;
}

#errorAccess {
color:red;  
font:20px/30px Tahoma, sans-serif;  
} 

		/* PAGE_WRAPPER */
#page_wrapper {
overflow:hidden;
position:relative;
padding:10px 0;
}


/* CONTENT*/

#content {
width:738px;
float:left;
min-height:500px;
border-bottom:none;
border-top:none;
border-left:2px solid #0152E0;
padding-left:20px;
overflow:hidden;
}

#content_main h1{

}

#content_main h1 strike{

}

#content_main h2 {

}

#content_main h3{

}

#content_main p {
}


#content_main img {
	margin:0;
	padding:0;

}

#content_main a {

}

#content_main a:hover {
	text-decoration:none;
	
}

#content  ul {
	margin:0;
	padding:0;
	/*list-style:none;*/
}


#content_main  ul li {

}

/* BOOKER */

#booker {
border:1px solid #0152E0;

display:block;
margin:0 10px 20px;
padding:20px;
overflow:hidden;
}

#booker  img {
float:left;
padding:0px 10px 5px;
}

#booker  h2 {
font-size: 1.2em;
}

#booker  h2  span{
color:#0152E0;
display: block;
font-size: 1.5em;
}

#booker  h3 {
font-size: 1em;
margin-bottom: 10px;
}

#booker  h3  a{
color:#0152E0;
}

#booker  h4 {

font-size: 1em;
margin-bottom: 10px;
}

#booker  h4  span{
color:#0152E0;
}

#booker p span {
text-decoration:underline;
font-weight: bold;
}

#booker span a {
background-color:#0152E0;
color:#FFFFFF;
font-size:17px;
font-weight:normal;
text-decoration:none;
display:block;
padding: 4px 5px 6px;

width:100px;
margin-left:15px;
float:right;
text-align:center;
box-shadow: 1px -1px 5px 0 #333333 inset;
text-shadow: 0 -1px 1px #0152E0;
}

#booker span a:hover {
background-color:#0152E0;
text-shadow: 0 -1px 1px #0152E0;
}

/* BRIEFLY */
#briefly {
text-align:right;
}

#briefly p {
text-align: justify;
}


/* PRODUCT*/

/*
#product {
display:block;
float:left;
margin:0 10px 20px;
padding:10px;
border:1px solid #0152E0;

}

#product  img {
width:140px;
}

#title {
margin:15px 0;
font:bold 15px Tahoma, sans-serif;
text-align:center;
display:block;
background:none;
border:none;
color: #333333;
}

#price {
margin:15px 0;
font:bold 15px Tahoma, sans-serif;
text-align:center;
display:block;
color:#0152E0;
}

#product span a {
background-color:#0152E0;
color:#FFFFFF;
font-size:17px;
font-weight:normal;
text-decoration:none;
display:block;
padding:5px;

width:100px;
margin-left:15px;
text-align:center;
box-shadow: 1px -1px 5px 0 #333333 inset;
text-shadow: 0 -1px 1px #68B0EB;
}

#product span a:hover {
background-color:#68B0EB;
text-shadow: 0 -1px 1px #68B0EB;
}
*/

#paginatot a {
text-decoration:none;
}
    
.clear {
	clear:both;
	line-height:0;
	height:0;
}

/*LEEFT*/
#left {
float:left;
width:220px;
min-height:10px;
}

#left h2 {
font:bold 18px Tahoma, sans-serif;
padding-bottom:17px;
color:#0152E0;

}

#menu-left {
padding:0 20px 0 0;
}

#menu-left  ul {
margin:0;
padding:0;
list-style:none;
position:relative;
}

#menu-left  ul li {
margin:0;
padding:0;
display:block;
position:relative;

}

#menu-left ul li a {
color:#0152E0;
font:16px/25px Tahoma, sans-serif;
background-image:url(../images/menu-bg-on.jpg);
background-size:20px;
background-position:5px 3px;
background-repeat: no-repeat;
border:1px solid #0152E0;

padding:0 10px 0 35px;
min-height:25px;
margin-bottom:7px;
display:block;
text-decoration:none;
transition:background 1s ease-out 0s, box-shadow 0.5s ease-out 0s;
}

#menu-left .cm_current a, #menu-left ul li a:hover {
background-image:url(../images/menu-bg.jpg);
font-weight:bold;
box-shadow: 0px 3px 4px 0 #999;

}

#menu-left  ul li:hover {
}

/* Подменю */
#menu-left  ul li>  ul {
display:none;
position: relative;
margin-left:20px;
margin-top:10px;
margin-bottom:10px;
background-color:#FFFFFF;
}

#menu-left  ul li ul a {
display: block;
position:relative;
left:0px;
top:0;
background-image: none !important;
margin:0 0 2px 2px;
padding:0 0 0 10px; 
width:150px;
box-shadow:none !important;
border:1px solid #0152E0;
color:#0152E0;
}

#menu-left  ul li:hover ul {
display:block;
}

#menu-left  ul li > ul li:hover {
margin:0;
padding:0;
display:block;
position:relative;
min-height:27px !important;
border:none;
}

#menu-left  ul li ul a:hover {
color: #0152E0;
border:1px solid #0152E0;
box-shadow: 0 0 7px -2px #0152E0 inset !important;
font-weight:normal;

}

form {
margin-bottom:20px;
overflow:hidden;
display:block;
width:200px;
padding:3px 0 0 1px;
}

label {
display:block;
}

.select {
border: 1px solid #5A5A5A !important;

height:26px;
font:15px/20px Tahoma, sans-serif;
background-color:#E4E4E4;
width:195px;

}

.button {
background-color:#0152E0;
color:#FFFFFF;
font-size:17px;
font-weight:normal;
text-decoration:none;
display: inline-block;
padding:3px;

min-width:80px;
text-align:center;
box-shadow: 0px 0px 3px 0 #333333 inset;
text-shadow: 0 0px 1px #0152E0;
border: 1px solid #5A5A5A !important;
cursor: pointer;
}

.button:hover {
border: 1px solid #5A5A5A !important;
box-shadow: 0 1px 2px #333333 !important;
position: relative;
}

/*FORM/BOOK */

#form-book {
width:100%;
overflow:hidden;
}

.form1 {
    float: left;
    min-height: 50px;
    width: 240px;
}

#form-book input {
width:210px;
}

#form-book select {
width:230px;
}

#form-book textarea {
width:210px;
height:98px;
color: #333333;
font: 14px/19px Tahoma,sans-serif;
}

.send {
width:100px !important;
}

		/*FOOTER */
#footer {
	position:relative;
	min-height:50px;
	text-align:center;
	background:#0152E0;

}

		/*MAIL*/
#mail {
position:relative;
padding:15px 0 0 15px;
}

#mail  h2  {
    font: normal 16px Tahoma,sans-serif;
    text-align: left;
	color:#333333;
}

#mail  span{
color: #0152E0;
}

#mail p {









