
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="ru">
        <title>Booker</title>
        <link href="/~user12/booker/templates/style/styleBooker.css" rel="stylesheet" type="text/css" />
        <!-- /~user12/booker/templates/style/styleBooker.css -->
        
    </head>
    <body >
        <div id="outer">
            <div id="header">
                <h1>Boardroom Booker</h1>
                <h2 >{currentRoom}</h2>
                <h3><div id='messageToUser'>{message}</div></h3>
            </div>

            <div id="menu">
                <ul>
                    <li class="first">{rooms}</li>
                    
                </ul>
            </div>

            <div id="content">
                <div id="primaryContentContainer">
                    <div id="primaryContent">
                        <span id="calnavy">
                            <span id="month">{month}</span>
                            <br />
                            <a href="/~user12/booker/index.php/room/events/prev" id="prev" >Prev</a>
                            <a href="/~user12/booker/index.php/room/events/next"  id="next">Next</a>
                            
                        </span>
                        <div id="message">
                            
                        </div>
                        <div id="calendar_container" width='500px'>
                            {calendar}
                        </div>

                        <div id="but">
                            <span id="but_1"><a href="/~user12/booker/index.php/order" id=""> Book It! dasdad </a></span>
                            <span id="but_2"><a href="/~user12/booker/index.php/employees" id=""> Employee List </a></span>
                        </div>
                       
                        

                    </div>
                </div>
               
            </div>
            <div id="footer">
            <span id='transport'></span> 
            </div>
        </div>
        <script type="text/javascript" src="/~user12/booker/lib/js/events.js"></script>
       

</body>

</html>

