<html>
<head>;
<meta charset="utf-8">
<title>site</title>
<link rel="stylesheet" type="text/css" href="" />
</head>
<script src="/~user12/booker/lib/js/popUp.js"></script>
<!-- /~user12/booker/lib/js/popUp.js -->
<body>
<form action="/~user12/booker/index.php/change/{idEvent}" method="POST">
<!-- /~user12/booker/index.php/change/{idEvent}-->
When:<input name='start' value='{start}' type='text' /> - <input name='end' value='{end}' type='text' />
</br>
Who:  {employee}
</br>
Notes:  <input name='description' value='{description}' type='text' />
</br>
Submited: <input name='' value='{dateOrder}' type='text' />
          <input name='dateOrder' value='{saveDate}' type='hidden' />
          <input name='repetition' value='{repetition}' type='hidden' />
          {applyToAll}
          <br />
          
</br>
<input type="submit" name="submit" value="update" /> <input type="submit" name="submit" value="delete" />
</form> 
</body>
</html> 