<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title></title>
<meta name="" content="">
</head>
<body>
    <table>
    
	<tr>
        <td>Name</td>
		<td>Mail</td>
	</tr>
    
    <tr>
        <form action="/~user12/booker/index.php/employee/update/{id}" method="POST">
        <td><input name="name" type="name" value="{name}"/></td>
        <td><input name="mail" type="name" value="{mail}"/></td>
        <td><input type="submit" value="update"/></td>
        </form> 
    </tr>
    
    <tr>
        <td>{errorname}</td>
        <td>{errormail}</td>
       
    </tr>
</table>
</body>
</html>